.mdeditor
    width 100%

    $__button-bar
        width 100%
        background-color #eeeeee
        border-top 1px solid #ccc
        border-left 1px solid #ccc
        border-right 1px solid #ccc
        height 36px

        .button-row

            $__button
                width 20px
                height 20px
                margin-left 5px
                margin-right 5px
                position absolute
                background-repeat no-repeat
                background-position 0px 0px
                display inline-block
                list-style none

                $_bold
                    left 0px
                    top 12px
                    &:hover
                        cursor pointer
                  
                $_italic
                    left 25px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_link
                    left 75px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_quote  
                    left 100px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_code    
                    left 125px
                    top 12px
                    
                $_image   
                    left 150px
                    top 12px
                    
                $_olist   
                    left 200px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_ulist   
                    left 225px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_heading 
                    left 250px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_hr      
                    left 275px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_undo    
                    left 325px
                    top 12px
                    &:hover
                        cursor pointer
                    
                $_redo    
                    left 350px
                    top 12px
                    &:hover
                        cursor pointer
            
        > i
            width 20px
            height 20px
            margin-left 5px
            margin-right 5px
            position absolute
            display inline-block

            
  
    $__input 
        height 200px
        background-color #fff
        border 1px solid #cccccc

    $__preview
        box-sizing border-box
        padding 10px 0
        border-top 1px dotted #ccc
        border-bottom 1px dotted #ccc
        clear both
        margin-top 20px