body 
{ 
	background-color: White
}

.qa-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 292px;
}

#qa-editor
{
	background-color: #eeeeee;
}

#qa-button-bar 
{
	width: 100%;
	background-color: #eeeeee;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 36px;
}

#qa-input 
{ 
	height: 200px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cccccc;
}

#qa-preview 
{
	box-sizing: border-box;
	padding: 10px 0;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	clear: both;
	margin-top: 20px;
}

#qa-output 
{ 
	background-color: Pink;
}

#qa-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.qa-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.qa-button
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	background-image: url(images/qa-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	list-style: none;
}

.qa-button > a
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	display: inline-block; 
}


/* sprite button slicing style information */
#qa-button-bar #qa-bold-button    {left: 0px;   background-position: 0px 0;}
#qa-button-bar #qa-italic-button  {left: 25px;  background-position: -20px 0;}
#qa-button-bar #qa-spacer1        {left: 50px;}
#qa-button-bar #qa-link-button    {left: 75px;  background-position: -40px 0;}
#qa-button-bar #qa-quote-button   {left: 100px;  background-position: -60px 0;}
#qa-button-bar #qa-code-button    {left: 125px;  background-position: -80px 0;}
#qa-button-bar #qa-image-button   {left: 150px;  background-position: -100px 0;}
#qa-button-bar #qa-spacer2        {left: 175px;}
#qa-button-bar #qa-olist-button   {left: 200px;  background-position: -120px 0;}
#qa-button-bar #qa-ulist-button   {left: 225px; background-position: -140px 0;}
#qa-button-bar #qa-heading-button {left: 250px; background-position: -160px 0;}
#qa-button-bar #qa-hr-button      {left: 275px; background-position: -180px 0;}
#qa-button-bar #qa-spacer3        {left: 300px;}
#qa-button-bar #qa-undo-button    {left: 325px; background-position: -200px 0;}
#qa-button-bar #qa-redo-button    {left: 350px; background-position: -220px 0;}
#qa-button-bar #qa-help-button    {right: 0px; background-position: -240px 0;}


.qa-prompt-background
{
	background-color: Black;
}

.qa-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.qa-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.qa-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.qa-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
.qa-grippie {
	margin-right: 0px;
	width: 100%;
	border: 1px solid #ddd;
	border-width: 0 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
	background-color: #eee;
	margin-top: -4px;
}
textarea { resize:none; padding:0px; }

textarea:focus {
	outline: 0;
	border: 1px solid;
}
.qa-title-preview {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}